.mat-mdc-header-row {
    background-color: #cccfe9;
}

.mat-column-id {
    flex: none;
    width: 1rem;
    background-color: #F2DCD3;
}

.mat-mdc-row:nth-child(even) {
    background-color: #f1f1f1;
}

.mat-mdc-row:nth-child(odd) {
    background-color: #ffffff;
}

// You can pass width && height or just pass width and the height will default to the width value
@mixin box($width, $height: auto) {
    width: $width;
    height: $height;
}

// Flexbox mixin
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.cmp-empty-result-main-warapper {
    width: 100%;
    margin-top: 30px;
    .empty-content-area {
        @include box(100%, 60px);
        @include flex-column;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
    }
}