<header class="header-container">
    <div class="container">
        <img class="profile-img" src="assets/images/me.png" alt="Profile Picture" data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets/images/cloud.png" alt="" data-aos="zoom-in" class="cloud-5" data-aos="fade-up" data-aos-duration="1500">
        <img src="assets/images/cloud-2.png" alt="" class="cloud-6" data-aos="slide-right" data-aos-duration="800">
        <img src="assets/images/cloud-3.png" alt="" class="cloud-4" data-aos="fade-down" data-aos-duration="1000">
        <img src="assets/images/cloud-2.png" alt="" class="cloud-2" data-aos="slide-right" data-aos-duration="800">
        <img src="assets/images/cloud.png" alt="" class="cloud-1" data-aos="fade-down" data-aos-duration="1500">
        <img src="assets/images/cloud-2.png" alt="" class="cloud-3" data-aos="slide-right" data-aos-duration="800">
        <div style="position: relative; z-index: 1;">
            <h1 class="my-3">Yodsawadee Sornda (Jan)</h1>
            <p class="lead">Full-stack Developer</p>
        </div>
    </div>
</header>

<section id="about" class="container text-center pt-5" data-aos="fade-up" data-aos-duration="1500">
    <!-- <h2 class="section-title">About Me</h2> -->
    <p>As a Software Engineer with approximately 5 years of full-stack software development experience and 4 years of
        university education in software
        engineering, I am very passionate on computer programming especially front-end and new technology stack.
        Currently seeking for opportunities to learn and
        work for the growth of the organization.</p>
</section>


<section id="key-skill" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <h2 class="section-title text-center">Key Skill</h2>
        <ul>
            <li><b>Extensive experiences</b> with Web application framework Angular</li>
            <li><b>Experiences</b> with Spring Boot Api or Batch, Java Database Connectivity(JDBC), Java Persistence
                API(JPA)-hibernate, JasperReports, Bootstrap, Material UI</li>
            <li><b>Strong coding skill languages</b> such as TypeScript, CSS, SCSS, HTML, JavaScript, SQL, Java, and Python
            </li>
            <li><b>Proficient</b> with Git flow, Agile software development, GitHub, GitLab, SVN, SourceTree, IntelliJ IDEA,
                and Visual Studio Code. Moreover, usually use Amazon Web Services(AWS), such as EC2 and Elastic Beanstalk,
                S3, CloudWatch, CodeCommit, CloudFront, API Gateway, Simple Queue Services, Cognito, Amazon Elastic
                Container Registry for Batch, and Amazon EventBridge</li>
            <li><b>Proficient</b> with Software Management Tools including Jira, Confluence, Draw.io, Miro, Trello, Google
                Meet, Gather. Town, Cisco Webex, Microsoft Teams, and
                Slack</li>
            <li><b>Proficient</b> with Database platforms such as IBM DB2, MySQL, MariaDB, MS SQL Server, SQLite,
                PostgreSQL, phpMyAdmin, Firebase, Mongoose</li>
            <li><b>Proficient</b> with Red Hat JBoss Developer Studio, Kibana, Postman, Swagger UI, Storybook, Google
                Analytics, Jenkins, Docker, Apache Kafka, Protobuf, Spring Tool Suite, Eclipse, Atom, Microsoft Visual
                Studio IDE, NetBeans IDE, Remote Desktop Services (RDS), Oracle VM VirtualBox , Genymotion, Nox, Es lint,
                Prettier, Sonar Cube, Jest, Junit, Jmeter, Maven, PuTTY, MobaXterm, Terminus, FileZilla, WinSCP, Offset
                Explorer, mtail, KeyStore Explorer
            </li>
            <li><b>Some experiences</b> with UI/UX Design Tools for example Adobe Photoshop, Adobe XD, Figma</li>
            <li><b>Some experiences</b> with Node.js, Express</li>
        </ul>
    </div>    
</section>

<section id="work-experience" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <h2 class="section-title text-center">Work Experience</h2>
        <div class="card mb-4" data-aos="fade-up" data-aos-duration="1500">
            <div class="card-body">
                <h5 class="card-title">Full-stack Developer</h5>
                <h6 class="card-title">at Advanced Personnel and Solutions (<img src="assets/images/logo/apns.jpeg"
                        alt="Project 1" width="100px" appHoverMove (click)="openNewTab('https://www.apns.co.th/th')">) -
                    Counter Service Company Limited | Bangkok, Thailand</h6>
                <h6 class="card-title">May 2023 – Present</h6>
                <p class="card-text">Worked in the Counter Service team's payment gateway to develop various payment
                    channels, including Credit Card, Thai QR, Cash, True Money Wallet,
                    WeChat, and Alipay. Enabled merchants such as AllOnline 7-Eleven, All Ticket, All Insurance, and
                    7Delivery to use these channels for easier order and
                    transaction processing.</p>
                <ul>
                    <li>Enhanced existing payment gateway system, which is microservices using Java Spring Boot,
                        JavaScript, and Angular.</li>
                    <li>Enhanced existing website for Admin(<a href="https://admin.counterservicepay.com"
                            target="_blank">https://admin.counterservicepay.com</a>) and Merchant(<a
                            href="https://portal.counterservicepay.com"
                            target="_blank">https://portal.counterservicepay.com</a>) users both
                        frontend and backend service.</li>
                    <li>Deployed build files into Amazon Web Services (AWS) to test in the QA environment.</li>
                    <li>Developed batch jobs using Java Spring and JasperReports to generate reports for the business
                        team.</li>
                    <li>Developed a new payment channel by integrating with Alipay+ API, performed Acceptance Tests, and
                        communicated with the Alipay team to
                        finalize the integration agreement.</li>
                    <li>Developed website payment gateway information and registration (<a
                            href="https://gateway.counterservicepay.com"
                            target="_blank">https://gateway.counterservicepay.com</a>)</li>
                </ul>
            </div>
        </div>

        <div class="card mb-4" data-aos="fade-up" data-aos-duration="1500">
            <div class="card-body">
                <h5 class="card-title">Software Engineer </h5>
                <h6 class="card-title">at KTB Computer Services (Krung Thai Bank Public Company Limited) | Bangkok,
                    Thailand</h6>
                <h6 class="card-title">August 2019 – April 2023</h6>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">Worked in <b>Krungthai Business or BizNext</b> (<a
                                href="https://business.krungthai.com"
                                target="_blank">https://business.krungthai.com</a>) which is the channel for
                            making financial transactions on Internet Banking to facilitate the organization business
                            that can manage financially comprehensively Billing transactions
                            (Collection), Payment, View reports (Information) and including liquidity management by
                            their self 24 hours a day and be conf ident with a security system
                            that meets international standards
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p class="card-text">Participated in in web front-end software development team
                                        </p>
                                        <ul>
                                            <li>Responsible in sub-header of front-end development team on Agile process
                                                by delivered each feature within 2 week (1 sprint) to the business team
                                            </li>
                                            <li>Report and demonstrate the progress of FE team and on weekly scrum
                                                meeting with all team (BFF, mobile)</li>
                                            <li>Develop front-end web application using angular10 & 13 with wiring mock
                                                API according to API specification</li>
                                            <li>Use Internationalization (i18n) for multi-language where business team
                                                defined copy-writing value of each component in 2 language (TH-EN) and
                                                developer team defined localization key on keycloak liquid delivery
                                                monster then use that key on web application implementation</li>
                                            <li>Perform integrate testing with API on dev environment</li>
                                            <li>Validate technical specification/design such as user story, high-level
                                                diagram, API spec, Figma</li>
                                            <li>Distribute development task to outsource and manage their source code
                                                delivered time</li>
                                            <li>Review source code from outsource and do unit testing with wire mock API
                                                (Localhost)</li>
                                            <li>Conduct daily scrum for FE team to ask progress of the current work,
                                                problem raise, suggested solution</li>
                                            <li>Manage source code version in Gitlab on feature branch & release branch
                                            </li>
                                            <li>Support user test on each environment (sit, uat, stg)</li>
                                            <li>Manage and fix bug/defect from user testing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p class="card-text">Participated in Backend for Frontends (BFF) software
                                            development team</p>
                                        <ul>
                                            <li>Report progress of development by attend on weekly scrum meeting with
                                                all team (web, mobile)</li>
                                            <li>Implemented REST API on domain microservice including cheque, profile,
                                                account, etc. to use on frontend (web, mobile)</li>
                                            <li>Implement sending data as a distributed stream processing message queue
                                                (Kafka) to Instruction service (workflow), audit log, transaction
                                                tracking, schedule transaction. In addition, do sending data to common
                                                service team who responsible for back-end processing, validate
                                                transaction,
                                                and connect with bank legacy system.</li>
                                            <li>Use Docker and Kubectl to grant access into database MySQL, Kafka
                                                zookeeper, vault, consul, and orchestrator for the development in local
                                                machine</li>
                                            <li>Create database migration script (flyway)</li>
                                            <li>Perform testing by making a data, run batch shell script, etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">Worked in web front-end software development team to develop the following
                            project</p>
                        <p class="card-text">1. <b>Bizloan</b> which is web of loan repayment via Krungthai Corporate
                            Online (<a href="https://www.newcb.ktb.co.th"
                                target="_blank">https://www.newcb.ktb.co.th</a>) to facilitate corporate
                            clients/companies who
                            deduct money from the bank's debtors and deliver the outstanding balance. can be deducted to
                            the bank to pay off the loan by Bulk Payment Service; login
                            from Bizgrowing and Single sign-on in to Bizloan web</p>
                        <p class="card-text">2. <b>RD Housing Loan Consent</b> (<a
                                href="https://rdhousingloanconsent.krungthai.com/rdconsent"
                                target="_blank">https://rdhousingloanconsent.krungthai.com/rdconsent</a>) which is the
                            system of requesting exemption from income tax and
                            giving consent for income tax deductions of interest on mortgage loans</p>
                        <ul>
                            <li>Establish and develop FE web application structure using Angular10, Nx, and Akita state
                                management</li>
                            <li>Gather requirement from business team</li>
                            <li>Design technical specification on confluence and create development task on jira</li>
                            <li>Conduct daily scrum of FE team and attend weekly scrum with BE team</li>
                            <li>Distribute development task to outsource</li>
                            <li>Perform integrate testing with API on SIT environment</li>
                            <li>Support user testing on SIT and UAT environment</li>
                            <li>Manage and fix bug/defect from user testing</li>
                            <li>Validate automate test script (local test) using apache jmeter</li>
                        </ul>
                        <p class="card-text">3. <b>Dip & Go</b> (<a href="https://krungthai.com/dipandgo"
                                target="_blank">https://krungthai.com/dipandgo</a>) which is the system of open saving
                            account online and only go to branch for verify their identity to reduce time
                            spent on the process of opening account at the branch</p>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">Maintenance and responsibility for the development project <b>Krungthai
                                Bank IPAC Card Management System</b> which is the system of convenience
                            handing student card link with bank account(Debit card)
                        </p>
                        <ul>
                            <li><a href="https://www.ipac.krungthai.com/regIPAC"
                                    target="_blank">https://www.ipac.krungthai.com/regIPAC</a></li>
                            <li><a href="https://www.ipac.krungthai.com/umgrIPAC"
                                    target="_blank">https://www.ipac.krungthai.com/umgrIPAC</a></li>
                            <li><a href="https://www.ipac.krungthai.com/implIPAC"
                                    target="_blank">https://www.ipac.krungthai.com/implIPAC</a></li>
                            <li><a href="https://www.ipac.krungthai.com/mgrIPAC"
                                    target="_blank">https://www.ipac.krungthai.com/mgrIPAC</a>(KTB only)</li>
                        </ul>
                        <ul>
                            <li>Gather requirement from business team</li>
                            <li>Validate user story/technical specification and coordinate with bank legacy system as
                                CBS, CCMS, Documentum, Master Signature, Centralized
                                Consent, MDM, Any ID, and LDAD</li>
                            <li>Support technical testing with legacy system in case they made a change</li>
                            <li>Develop JBOSS web application Admin, Stucard register, Student, University which have FE
                                section using AngularJS and BE section using Java8
                                Spring framework including calling legacy webservice online, asynchronous
                                process(thread) to create PDF or send OTP/Email, query/insert data
                                into database IPAC Microsoft Sql Server</li>
                            <li>Develop JBOSS REST API using Java8 Spring framework for other channel (e.g. ESOL) to
                                query student data and update student card delivered into
                                IPAC database result in Swagger</li>
                            <li>Develop REST API using Java8 Spring Boot to validate import file, get data from control
                                file then combined into a model to represent at FE web
                                application, etc. which is result in Swagger</li>
                            <li>Develop batch application running schedule at night such as update result into database,
                                send/receive file on SFPT and NAS, call web service incase
                                calling online on web application failed, and Import control file which institution,
                                faculty, study program, major, bank branch, country, state,
                                district, sub-district</li>
                            <li>Mange source code version on Gitlab and deploy new change onto UAT environment using
                                Jenkins also run script to start/stop se rver while
                                deploying new change</li>
                            <li>Support user testing on UAT environment</li>
                            <li>Support incident on Prod by finding root cause on log and fixing the incident</li>
                            <li>Initiate Change when develop new feature or fix incident, present CAB, prepare document
                                for Change e.g. jar/war file, database script, deployment
                                note. Moreover, while doing a Change coordinate with operation, release, scheduler
                                support team and manage the Change deployment to finish
                                within a time</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4" data-aos="fade-up" data-aos-duration="1500">
            <!-- <img src="project1.jpg"> -->
            <div class="card-body">
                <h5 class="card-title">Full-stack Developer Internship</h5>
                <h6 class="card-title">at Knowledge Elicitation and Archiving Laboratory (KEA), The National Electronics
                    and Computer
                    Technology Center (NECTEC) | Pathum Thani, Thailand</h6>
                <h6 class="card-title">June 2017 – August 2017</h6>
                <p class="card-text">Participated in Software researcher and developer team as a Full-stack Developer.
                </p>
                <ul>
                    <li>research on google map API in order to develop and apply into Agri-Map Mobile application</li>
                    <li>develop mobile application using Ionic framework call Agri-Map Mobile which is a map for
                        proactive management. By integrating data from all
                        agencies under the Agriculture Ministry. For use as a management tool and machinery Thailand,
                        effectively covering the data up to date.
                        Development and increased ease of use. To access information easily. Follow along with the
                        changes taking place correctly.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- <section id="work-experience" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <h2 class="section-title text-center">Work Experience</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="project1.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Description of the project.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="project2.jpg" class="card-img-top" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Project 2</h5>
                        <p class="card-text">Description of the project.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="project3.jpg" class="card-img-top" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Project 3</h5>
                        <p class="card-text">Description of the project.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="education" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <h2 class="section-title text-center">Education</h2>
        <h5>Bachelor of Software Engineering - International College | King Mongkut's Institute of Technology Ladkrabang
            (KMITL) | Bangkok, Thailand</h5>
        <h5>2015 - 2019</h5>
        <p>GPA 3.13</p>
        <ul>
            <li>develop Assessors Matching & Assessment Scheduling: A Web Application for Internal Quality Assurance (IQA)
                System of KMITL which is
                An IQA Committee matching system which match & schedule with the suitable study program for an assessment
                using Python and Django
                framework to connect with the database system PostgreSQL</li>
            <li>Member of student council</li>
        </ul>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container text-center py-5">
    <h2 class="section-title">Contact Me</h2>
    <p>Feel free to reach out to me through the following platforms:</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="mailto:jan.yodsawadee@gmail.com">Email</a></li>
        <li class="list-inline-item"><a href="https://github.com/yodsawadee" target="_blank">GitHub</a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/yodsawadee-sornda-510309262/"
                target="_blank">LinkedIn</a></li>
    </ul>
</section>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2024 Yodsawadee Sornda. All Rights Reserved.</p>
    </div>
</footer>