textarea {
  font-size: 14px;
  padding: 15px;
  border: 0;
  outline: none;
  background-color: #f3f7f7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

textarea:focus {
  border-bottom: 2px solid #2e4163;
}
