<input type="text" [ngModel]="name" (ngModelChange)="nameChange($event)" #nameRef><br/>
<div *ngIf="nameStr?.length > 0">name: {{nameStr}}</div>
<br/><br/>

<span *ngFor="let data of dataList">
    <li >{{data.id}} | {{data.download_url}}</li>
    <img src="{{data.download_url}}" width="500">
</span>

<transaction-summary [title]="'title'" [subtitle]="'subtitle'">
    <ng-container summary-detail>
        summary-detail contect
    </ng-container>
    <ng-container action-button>
        <button>back button</button>
        <button>next button</button>
    </ng-container>
</transaction-summary>

<!-- <ng-template #focusContent>
    some template
</ng-template> -->