<textarea rows={{2}} cols={{80}} placeholder="Enter name" 
    [ngModel]="name" (ngModelChange)="nameChange($event)" #nameRef
  >
</textarea><br/>
<span *ngIf="nameStr?.length > 0; else noNameInput">Result: {{nameStr}}</span>
<ng-template #noNameInput>Name is not yet enter</ng-template>
<br/>

<br/>========================================================<br/>
<ng-container *ngTemplateOutlet="detailsBody"></ng-container>
&nbsp;<button (click)="toggleForm()" class="btn btn-primary">Switch Form</button>
<br/>========================================================<br/>
reuse content: <ng-container *ngTemplateOutlet="detailsBody"></ng-container>
<br/>========================================================<br/><br/>

title: <input type="text" [ngModel]="title" (ngModelChange)="titleChange($event)">
subtitle: <input type="text" [ngModel]="subtitle" (ngModelChange)="subtitleChange($event)">

<transaction-summary [title]="title" [subtitle]="subtitle">
    <ng-container slot-title>
        slot-title content
    </ng-container>
    <ng-container summary-detail>
        summary-detail content
    </ng-container>
    <ng-container action-button>
        <button>back button</button>
        <button>next button</button>
    </ng-container>
</transaction-summary>

<span *ngFor="let data of dataList; index as i; trackBy: trackByFn">
    <li >index:{{i}} => {{data.author}}</li>
    <!-- <img src="{{data.download_url}}" width="500"> -->
</span>

<ng-template #detailsBody>
    <ng-container [ngSwitch]="typeOfForm">
        <ng-container *ngSwitchCase="'form1'" [ngTemplateOutlet]="form1Body"></ng-container>
        <ng-container *ngSwitchCase="'form2'" [ngTemplateOutlet]="form2Body"></ng-container>
    </ng-container>
</ng-template>

<ng-template #form1Body>FORM 1</ng-template>
<ng-template #form2Body>FORM 2</ng-template>