p {
    color: red;
    padding-left: 10px;
}

.input-container {
    display: grid;
}

.input-container-inline {
    display: grid;
    grid-template-columns: auto auto 20px auto;

    .elm-input-label {
        padding-left: 10px
    }
}
    
input {
    height: 30px;
    margin: 10px;
}

button {
    margin: 10px;
    height: 40px;
}
    